<h1>
    Getting a Mailjet Account, an API, and Misc. Set Up
</h1><br>
<p>
    This first part is going to their website and signing up to get an account. The sign up page looks like this. You can click on the image to take you there.
</p>
<a href="https://app.mailjet.com/signup"><img src="https://storagewithsummsu.blob.core.windows.net/airport/busan.png" alt="sign up page"></a>
<br>
<p>
    Once you take care of business there, you can head to your account page and click on the link circled in the image below. That link will take you to where your private and public API keys are stored.
</p>
<img src="https://storagewithsummsu.blob.core.windows.net/airport/busan.png" alt="account page">
<br>
<p>
    Awesome, so the last major thing to think about is if you want to add a domain name to your account. Typically your emails that you use at sign up will be autamically set up as a sender, and it will make it look like emails are coming from that account. However, you may have multiple senders on a company domain. In that case you'll want to head over to the accuont settings and add that domain. This way in the future if employees send something it will automatically allow senders from the domain. This is really more of a logistical matter than     anything, and it doesn't directly affect using this How to Guide.
</p>
<ul>
    <li><a href="/">Prev</a> </li>
    <li><a href="">Next</a></li>
</ul>

<body>
    <form action='/upload', method='post', enctype="multipart/form-data">
        <input type="file" name="uploadFile" />
        <input type="submit" name="upload" />

    </form>
</body>